svg {
  fill: aliceblue;
  width: 2em;
  display: inline;
  position: relative;
  top: 0.6em;
  margin-right: 10px;
}

span {
  display: inline;
}

a {
  display: inline;
  text-decoration: none;
  transition: 0.5s;
}

.contact-list {
  list-style-type: none;
  text-align: initial;
}
